*
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 46.2%;
    font-family: 'Open Sans';
    line-height: 1.7;
}

html{
    scroll-behavior: smooth;
}

.checkout{
    display: flex;
    flex-basis: 20%;
    justify-content: space-between;
    align-items: center;
}

.sec-nav{
    position: relative;
    background-color:rgba(229, 183, 16, 0.37) ;
    color: white !important;
    z-index: 20;
}
.hero{
    position: relative;
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.486),rgba(0, 0, 0, 0.596))
    ,url('../res/pexels-photo-3212164\ 1\ \(1\).png');
    color: white;
    padding:3rem 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    margin-top: -45px;
    z-index: 10;
    animation: adeInUpShort 2s ease;
}
.our{
    font-size: 3rem;
}
.welcome-img{
    position: relative;
}
.welcome-img_2{
    position: absolute;
    right: -15rem;
    bottom: 1rem;
}
form{
    position: relative;
}
.search{
    position: absolute;
    right: 60px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.welcome-word{
    margin-left: 3rem;
    max-width: 40%;
}
.boda{
    background-color: #E5B710;
}
.wel{
    border-top: solid 2px #E5B710;
    border-left: solid 2px #E5B710;
    padding: 1rem;
}
.wel-2{
    border-bottom: solid 2px #E5B710;
    border-right: solid 2px #E5B710;
}
.reconnect{
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.f2{
    font-size: 2rem;
    color: #02619A;
    background-color: rgba(255, 255, 255, 0.664);
    padding: .5rem;
}
.br{
    border-radius: 25px;
    padding: .5rem;
    text-align: center;
    margin: 0 auto;
}
.services{
    padding: 4%;
}
.products{
    padding: 4%;
}
.product{
    position: relative;
}
.price{
    background-color: #E5B710;
    display: inline;
    color: white;
    padding: .3rem;
    position: absolute;
    top: 18px;
}

.pro-badge{
    position: absolute;
    right:-.5rem ;
    bottom: 5rem;
}

.appoint{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.541),rgba(0, 0, 0, 0.514)),
    url('../res/photo-1570174006382-148305ce4972\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    color: white;
    position: relative;
}
.blog{
    padding: 4%;
}
.footer{
    margin-top: 4rem;
}
.footer-top{
    color: rgba(0, 0, 0, 0.699);
    padding:1% 3%;
    box-shadow: 0 1rem 3rem #E5B710;
}
.mainFooter{
    padding: 3%;
    background-color: black;
    color: #E5B710;
}

.mainFooter a{
    text-decoration: none;
    color: white;
}
.bg-all{
    background-color: #E5B710;
    border: none;
    padding:.4rem 1rem;
    color: white;
    text-transform: uppercase;
    border-radius: 25px;
    text-decoration: none;
}
.welcon{
    animation: upAndDown 3s ease infinite;
}

/* Animation for moving Up and Down */
@keyframes upAndDown{
    0%{
        transform: translateY(-25%);
    }
    50%{
        transform: translateY(25%);
    }
    100%{
        transform: translateY(-25%);
    }
}

@keyframes wiggle { 
    0% { transform: skewX(9deg); } 
    10% { transform: skewX(-8deg); } 
    20% { transform: skewX(7deg); } 
    30% { transform: skewX(-6deg); } 
    40% { transform: skewX(5deg); } 
    50% { transform: skewX(-4deg); } 
    60% { transform: skewX(3deg); } 
    70% { transform: skewX(-2deg); } 
    80% { transform: skewX(1deg); } 
    90% { transform: skewX(0deg); } 
    100% { transform: skewX(0deg); } 
}

@keyframes fadeInUpShort { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
}

@keyframes bounceOutUp { 
    0% { 
        -webkit-transform: translateY(0); 
    } 
    20% { 
        opacity: 1; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: translateY(-2000px); 
    } 
} 

@keyframes flip { 
    0% { 
        -webkit-transform: perspective(400px) rotateY(0); 
        -webkit-animation-timing-function: ease-out; 
    } 
    40% { 
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg); 
        -webkit-animation-timing-function: ease-out; 
    } 
    50% { 
        -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1); 
        -webkit-animation-timing-function: ease-in; 
    } 
    80% { 
        -webkit-transform: perspective(400px) rotateY(360deg) scale(.95); 
        -webkit-animation-timing-function: ease-in; 
    } 
    100% { 
        -webkit-transform: perspective(400px) scale(1); 
        -webkit-animation-timing-function: ease-in; 
    } 
}

/* Meia Query for System */
@media screen and (min-width:1024px){
    .hero{
        height: auto;
    }
}

/* Meia Query for Tablet */
@media screen and (min-width:768px) and (max-width:1023px){
    .hero{
        padding: 1.9rem 0 0 0;
        height: auto;
    }
    .our{
        font-size: 2rem;
    }
}

/* Meia Query for Phone */
@media screen and (max-width:767px){
    .hero{
        padding: 1.9rem 0 0 0;
        height: auto;
    }
    .our{
        font-size: 1.5rem;
    }
    .reconnect{
        font-size: 1rem;
    }

    .checkout{
        display: flex;
        flex-basis: 80%;
        justify-content: space-between;
        align-items: center;
    }
    .nav-form{
        display: none;
    }
    .welcome-img{
        display: none;
    }
    .welcome-word{
        margin-left: 0;
        max-width: 100%;
    }
}